
body{
  background-image: url("https://images.assetsdelivery.com/compings_v2/igoror/igoror1508/igoror150800196.jpg");

}
/* Menu */
nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 4px solid #e7e7e7;
  background-color: #f3f3f324;
}

nav ul li {
  float: left;
}

nav ul li a {

  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  font-family: Tahoma
  background-color: #ddd;

}


.tytuly {

  font-size: 34pt;
  font-style: monospace
  font-family: Tahoma;
  text-align: center;
}
.tekstnagłównej {

  font-family: Tahoma;
  font-size: 16pt;
  font-style: monospace;
  text-align: center;

}

.tekst {

font-family: Tahoma;
font-size: 16pt;
font-style: monospace;
text-align: left;
margin-left: 30px;

}

.nagłówki {

font-family: Tahoma;
font-size: 26pt;
font-style: monospace;
justify-content: center;
text-align: center;
}
