{% extends 'base.html' %}

{% block content %}

    <h1><p class='nagłówki'>Wybierz</p></h1>

    <p><p class='tekst'> Aby się przekonać, kto pasuje do twoich kryteriów, <a href="{% url 'poznaj' %}"> kliknij tutaj</a>
 </p></p>
      <form method="post" enctype="multipart/form-data"">
  {% csrf_token %}
  <input type="number" name="dane" size="40">
  <button type="submit" value="Send">Wyślij</button>
</form>

{% if result_present %}
  {{ skrypt|safe }}
{% endif %}


{% endblock %}
