{% extends 'base.html' %}

{% block content %}

    <h1><p class='nagłówki'>Wybierz</p></h1>

    <div class='tekst'> W jakim wieku ma być Twój partner? <br>
      1 - stary 2 -  młody <br>
      <br>
      Jak wysoki ma być Twój partner? <br>
      3 - wysoki  4 - niski <br>
      <br>
      Jakie włosy ma mieć Twój partner? <br>
      5 - jasne  6 - ciemne  7 - nie życzę sobie, aby mój partner miał włosy

      <br>
      <br>

     Aby się przekonać, kto pasuje do twoich kryteriów wpisz poniżej określoną kombinacje cyfr. <br>
    np. Twój partner ma być młody, niski i mieć jasne włosy wpisz: 245
      <form method="post" enctype="multipart/form-data"">
  {% csrf_token %}
  <br>
  <input type="number" name="dane" size="40" required>
  <button type="submit" value="Send"> Wyślij</button>
</form>


{% if result_present %}
  {{ skrypt|safe }}
  <br>
  <p class= 'tekst'> Jest cudowny! <a href="{% url 'kontakt' %}"> Zamawiam! </a></p>

  <p class = 'tekst'> O nie! Nie tak miało być! <a href="{% url 'wybierz' %}"> Chcę spróbować jeszcze raz! </a></p>


{% endif %}

</div>

{% endblock %}
